/* header{
  
    
} */
ul{
  font-size: 20px;
}
#top{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link {
  text-decoration: none;
  cursor: pointer;
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8rem;
}
.nav-link:hover {
  color: rgb(212, 236, 50);
  text-decoration: underline;
}
.nav-link.active {
  color: rgb(210, 241, 7);
}
.navbarNav {
  justify-content: space-between;
  gap: 5rem;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

#texto1{
  margin-top: 60px;
  margin-bottom: 25px;
  font-size: 16px;
  
}
.card{
  background-color: rgb(212, 236, 50);
  border-color: rgb(212, 236, 50);
  border-radius: 2px;
}
.card-img-top{
  height: 200px;
  width: 200px;
  /* display: flex;
  justify-content: center;
  text-align : center; */
  border-radius: 50%;
  
}
.btn{
  background-color: rgb(212, 236, 50);
  border-color: rgb(212, 236, 50);
  color: black;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
  color: rgb(212, 236, 50);
  border-radius: 1px;
}

.correo{
  margin-left: 2vw;
  margin-right: 2vw;
  width: 100%;
}
.suscribete{
  margin: 10vw;
  background-color: rgb(50, 55, 60);
  color: #FFF;
  border-color: rgb(50, 55, 60);
  border-radius: 20px;
}

#inf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-title{
  font-size: 28px;
  font-family: barlow;
}

.final{
  background-color: rgb(219, 219, 219);
  border-color: rgb(219, 219, 219);
}

hr {
  width: 100%;
}